<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyberpunk 2077</title>
    <link rel="shortcut icon" href="/static/src/imagens/cyberpunk32x32.ico" type="image/x-icon">
    <link rel="preload" href="/static/src/fonts/BlenderPro-Bold.woff2" as="font" crossorigin>
    <link rel="preload" href="/static/src/fonts/refinery-25-bold.ttf">
    <link rel="stylesheet" href="/static/src/css/fonts.css">
    <link rel="stylesheet" href="/static/src/css/normalize.css">
</head>

<body>
    <header class="cabecalho">
        <div class="logo">
            <a href="./index.html"><img src="/static/src/imagens/LogoCyberpunk.png" alt="logo cyberpunk2077"></a>
        </div>
        <nav>
            <ul class="menu">
                <li>
                    <a href="./index.html">
                        HOME
                    </a>
                </li>
                <li>
                    <a href="./comprar.html">
                        COMPRAR
                    </a>
                </li>
                <li>
                    <a href="./contato.html">
                        SUPORTE
                    </a>
                </li>
            </ul>
        </nav>
    </header>
{%block content%}{%endblock%}
    <footer class="rodape">
        <div class="separador2"></div>
        <div class="copyright">
            <img src="/static/src/imagens/CDProjektRedcopyright.svg" alt="" width="300" height="150"> 
            <p class="paragrafo">© 2024 CD PROJEKT S.A. Todos os direitos reservados. CD PROJEKT, o logotipo CD PROJEKT, Cyberpunk,
                Cyberpunk 2077 e o logotipo Cyberpunk 2077 são marcas comerciais e/ou marcas registradas da CD PROJEKT
                S.A. nos EUA e/ou em outros países.</p>
        </div>
    </footer>
    
</body>

</html>