
<link rel="stylesheet" href="/static/src/css/styles-comprar.css">
{%extends 'base.html'%}
<body>
    {%block content%}
    <section class="cartão-comprar">
        <div class="informacao">
            <div class="box-info">
                <div class="box-titulo">
                    <div class="titulo">
                        <h4>selecionar jogo:</h4>
                    </div>
                </div>
                <div class="box-jogos">
                    <div class="jogo1">
                        <div class="selecaobox">
                            <img src="/static/src/imagens/produto2077.jpg" alt="cyberpunk2077">
                            <div class="bordalayer"></div>
                            <div class="bordabox">
                                <span class="box__border--top"></span>
                                <span class="box__border--right"></span>
                                <span class="box__border--bottom"></span>
                                <span class="box__border--left"></span>
                            </div>
                        </div>
                    </div>
                    <div class="jogoultimate">
                        <div class="selecaobox">
                            <img src="/static/src/imagens/vendaultimate.jpg" alt="pacote ultimate dlc e jogo base">
                            <div class="bordalayer"></div>
                            <div class="bordabox">
                                <span class="box__border--top"></span>
                                <span class="box__border--right"></span>
                                <span class="box__border--bottom"></span>
                                <span class="box__border--left"></span>
                            </div>
                        </div>
                    </div>
                    <div class="jogodlc">
                        <div class="selecaobox">
                            <img src="/static/src/imagens/vendaphantom.jpg" alt="DLC Phantom do jogo base">
                            <div class="bordalayer"></div>
                            <div class="bordabox">
                                <span class="box__border--top"></span>
                                <span class="box__border--right"></span>
                                <span class="box__border--bottom"></span>
                                <span class="box__border--left"></span>
                            </div>
                        </div>
                        <div class="validacaodlc">
                            É preciso ter Cyberpunk 2077 para jogar Phantom Liberty
                        </div>
                    </div>
                </div>
                <div class="infojogos"></div>
                <div class="infoplat">
                    <div class="tituloplat">
                        <div class="boxtitulo">
                            <h4>SELECIONE A PLATAFORMA:</h4>
                        </div>
                    </div>
                    <div class="caixatresplat">
                        <button type="button" class="btn btn-dark xbox"><img src="/static/src/imagens/logo-xbox-series-s.svg" alt=""></button>
                        <button type="button" class="btn btn-dark pc"><img src="/static/src/imagens/logo-pc.svg" alt=""></button>
                        <button type="button" class="btn btn-dark ps5"><img src="/static/src/imagens/logo-ps5.svg" alt=""></button> 
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    {%endblock%}
</body>

</html>