<link rel="stylesheet" href="/static/src/css/styles-contatos.css">

{%extends 'base.html'%}

<body>
    {%block content%}
    <div class="barra">
    </div>
    <div class="lateral">
        <div class="suporte">
            <h3 class="titulo">
                BEM VINDO AO SUPORTE DA CDPROJEKTRED.
            </h3>
            <p class="texto">
                PARA MELHOR APROVEITAMENTO DO NOSSO SUPORTE, NOS INFORMES ALGUNS DADOS SEUS PARA CONTATO.
            </p>
        </div>
    </div>
    <div class="formulario">
        <div class="info">
            <div class="email">
                <label for="floatingInput">Endereço de Email</label>
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            </div>
            <div class="nick">
                <label for="floatingNickname">Nome de Usuário</label>
                <input type="Nickname" class="form-control" id="floatingPassword" placeholder="Nome de usuário">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Enviar</button>
              </div>
        </div>
    </div>
    </div>
    {%endblock%}
</body>

</html>