
<link rel="stylesheet" href="/static/src/css/styles-index.css">
{%extends 'base.html'%}
<body>
    {%block content%}
    <header class="cabecalho">
        <div class="home">
            <h1 class="titulo">
                BEM VINDO A NIGHT CITY!
            </h1>
            <p class="texto">
                VIVENCIE A EXPERIÊNCIA DEFINITIVA DE CYBERPUNK 2077
            </p>
            <a class="botaocomprar" href="./comprar.html">
                COMPRE JÁ
            </a>


            <a class="trailer" href="https://youtu.be/Ugb80d5lxEM">
                ASSISTA AO TRAILER
            </a>
        </div>
        <div class="plataformas">
            <img src="/static/src/imagens/logo-xbox-series-s.svg" alt="">
            <img src="/static/src/imagens/logo-ps5.svg" alt="">
            <img src="/static/src/imagens/logo-pc.svg" alt="">
        </div>
    </header>
    <main class="corpo">
        <img class="imagem" src="/static/src/imagens/backgroung.jpg"
            alt="background de exposição do jogo cyberpunk2077 contendo personagens da história" height="750"
            width="1490">
    </main>
    <div class="linha"></div>
    <section class="conteudos">
        <h2 class="frase-conteudo">TE DAMOS BOAS VINDAS AO FUTURO SOMBRIO</h2>
        <p class="paragrafo">
            Mergulhe no universo de Cyberpunk, desde o enredo original de Cyberpunk 2077 e sua emocionante expansão de
            suspense e espionagem Phantom Liberty até a premiada série de anime Cyberpunk: Mercenários — são inúmeras
            histórias para descobrir na mortal megalópole de Night City.
        </p>
        <div class="separador"></div>
        <div class="cartao">
            <div class="pcp" height="500">
                <div>
                    <a class="botaocomprar" href="comprar.html">
                        COMPRAR
                    </a>
                </div>
                <div class="img" ><img src="/static/src/imagens/produtocyberpunk.jpg" alt="jogocyberpunk" width="350"
                        height="500">
                    <div class="rodape-cartao">
                        <div class="plat">
                            <img src="/static/src/imagens/logo-pc.svg" alt="" width="30px">
                            <img src="/static/src/imagens/logo-ps4.svg" alt="" width="80">
                            <img src="/static/src/imagens/logo-ps5.svg" alt="" width="80">
                            <img src="/static/src/imagens/logo-xbox-one.svg" alt="" width="90px">
                            <img src="/static/src/imagens/logo-xbox-series-s.svg" alt="" width="120px">
                        </div>
                    </div>
                </div>
            </div>

            <div class="pp">
                <div>
                    <a class="botaocomprar" href="comprar.html">
                        COMPRAR
                    </a>
                </div>
                <div class="img"><img src="/static/src/imagens/produtophantom.jpg" alt="jogocyberpunk" width="350"
                        height="500">
                    <div class="rodape-cartao">
                        <div class="plat">
                            <img src="/static/src/imagens/logo-xbox-series-s.svg" alt="" width="120px">
                            <img src="/static/src/imagens/logo-ps5.svg" alt="" width="80">
                            <img src="/static/src/imagens/logo-pc.svg" alt="" width="30px">
                        </div>
                    </div>
                </div>
            </div>

            <div class="ped">
                <div>
                    <a class="botaoinformacoes" href="https://www.cyberpunk.net/pt-br/edgerunners">
                        MAIS INFORMAÇÕES
                    </a>
                </div>
                <div class="img"><img src="/static/src/imagens/produtoedgerunners.jpg" alt="jogocyberpunk" width="350"
                        height="500">
                    <div class="rodape-cartao">
                        <div class="plat">
                            <img src="/static/src/imagens/logoedgerunners.png" alt="" width="290" height="70">
                        </div>
                    </div>
                </div>
            </div>

            <div class="prod">
                <div>
                    <a class="botaoinformacoes" href="https://gear.cdprojektred.com">
                        MAIS INFORMAÇÕES
                    </a>
                </div>
                <div class="img"><img src="/static/src/imagens/produtos.jpg" alt="jogocyberpunk" width="350" height="500">
                    <div class="rodape-cartao">
                        <div class="plat">
                            <img src="/static/src/imagens/logocdprojekt.svg" alt="" width="300" height="150">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rodape-pagina"></div>
        

    </section>
    {%endblock%}
</body>

</html>